<!-- <footer class="site-footer">
	<div class="wrapper">


		<div class="site-footer__nav">
			<div class="site-footer__nav-title">
				<h2 class="site-footer__nav-title--heading">Overview</h2>
				<ul>
					<li><a href="/overview/peru">Peru</a></li>
					<li><a href="/overview/colombia">Colombia</a></li>
					<li><a href="/overview/ecuador">Ecuador</a></li>
					<li><a href="/overview/bolivia">Bolivia</a></li>
				</ul>
			</div>

			<div class="site-footer__nav-title">
				<h2 class="site-footer__nav-title--heading">Top City Guides</h2>
				<ul>
					<li><a href="/construction">Cusco</a></li>
					<li><a href="/construction">Medellin</a></li>
					<li><a href="/construction">Lima</a></li>
					<li><a href="/construction">Quito</a></li>
				</ul>
			</div>

			<div class="site-footer__nav-title">
				<h2 class="site-footer__nav-title--heading">Best Blogs</h2>
				<ul>
					<li><a href="/construction">Top 15 things to pack</a></li>
					<li><a href="/construction">Machu Picchu</a></li>
					<li><a href="/construction">Salar de Uyuni</a></li>
				</ul>
			</div>

			<div class="site-footer__nav-title">
				<h2 class="site-footer__nav-title--heading">Our Personal Blogs</h2>
				<ul>
					<li><a href="/construction">Thomas</a></li>
					<li><a href="/construction">Reilly</a></li>
				</ul>
			</div>

			<div class="site-footer__nav-contact-us">
				<h2 class="site-footer__nav-contact-us--column-header">Contact Us</h2>
				<div class="site-footer__nav-contact-us--wrapper">
					<div class="site-footer__nav-contact-us--name">
						<h3>Thomas</h3>
						<a href="/construction"><i class="fa fa-facebook-square fa-lg"></i></a>
						<a href="/construction"><i class="fa fa-linkedin-square fa-lg"></i></a>
					</div>
					<div class="site-footer__nav-contact-us--name">
						<h3>Reilly</h3>
						<a href="/construction"><i class="fa fa-facebook-square fa-lg"></i></a>
						<a href="/construction"><i class="fa fa-linkedin-square fa-lg"></i></a>
					</div>
					<a href="/contact-us"><p><span>Or send us an email!</span></p></a>
				</div>
			</div>


		</div>

		<div>
			<p class="site-footer__copyright">Copyright &copy; 2017 Our Journey. All rights reserved. </p>
		</div>
	</div>	
</footer>
<div class="site-footer__bottom">
	<p>Website by Thomas Cservenyi, not Wordpress</p>
</div> -->


<script type="text/javascript" src="/temp/scripts/App.js"></script>
</body>
</html>