<!DOCTYPE html>
<html>
<head>
    <title>myLinkReel</title>
    <link rel="stylesheet" href="/temp/styles/styles.css">
    <script type="text/javascript" src="/temp/scripts/Vendor.js"></script>
    <!-- google fonts -->

    <meta charset="utf-8">
    <!-- fontawesome -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="keywords" content="social network, movie, tv show, documentary, suggestion, recommendation, film ">
    <meta name="description" content="A social network to share and suggest all your film recommendations.">
</head>
<body>
   <!--  <nav class="site-nav" id="site-nav">
        <div class="site-nav__menu-button">
            <div class="site-nav__menu-button__middle">
            </div>
        </div>

        <nav class="site-nav__menu">
            <a href="#" class="site-nav__main-logo">
                <img src="/assets/images/homepage/logo2.png" class="site-nav__logo-mobile" alt="Site Travel Logo">   
            </a>
            <ul class="site-nav__menu--container-ul">
                <li class="site-nav__menu--container-li"><a href="/" class="site-nav__menu--container-a">Home</a>
                    <ul class="site-nav__menu--subheader">
                        <li><a href="/about-us" class="site-nav__menu--container-a">About us</a></li>
                    </ul>
                </li>
                <li class="site-nav__menu--container-li"><a href="/overview" class="site-nav__menu--container-a">Country Overviews</a>
                    <ul class="site-nav__menu--subheader">
                        <li><a href="/overview/bolivia" class="site-nav__menu--container-a">Bolivia</a></li>
                        <li><a href="/overview/peru" class="site-nav__menu--container-a">Peru</a></li>
                        <li><a href="/overview/ecuador" class="site-nav__menu--container-a">Ecuador</a></li>
                        <li><a href="/overview/colombia" class="site-nav__menu--container-a">Colombia</a></li>
                    </ul>
                </li>
                    <li class="site-nav__menu--container-li"><a href="/city-guides" class="site-nav__menu--container-a">City Guides</a></li>
                    <li class="site-nav__menu--container-li"><a href="/construction" class="site-nav__menu--container-a">Adventure Blogs</a></li>
                    <li class="site-nav__menu--container-li"><a href="/construction" class="site-nav__menu--container-a">Mini Movie</a></li>
                    <li class="site-nav__menu--container-li"><a href="/construction" class="site-nav__menu--container-a">Personal Blog</a>
                        <ul class="site-nav__menu--subheader">
                            <li><a href="/construction" class="site-nav__menu--container-a">Thomas' Blog</a></li>
                            <li><a href="/construction" class="site-nav__menu--container-a">Reilly's Blog</a></li>
                            <li><a href="/contact-us" class="site-nav__menu--container-a">Contact Us</a></li>          
                        </ul>
                    </li>
                </ul>
            </nav>
        </nav> -->