<!DOCTYPE html>
<html>
<head>
    <title>myLinkReel</title>
    <link rel="stylesheet" href="/temp/styles/styles.css">
    <script type="text/javascript" src="/temp/scripts/Vendor.js"></script>
    <!-- google fonts -->

    <meta charset="utf-8">
    <!-- fontawesome -->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="keywords" content="social network, movie, tv show, documentary, suggestion, recommendation, film ">
    <meta name="description" content="A social network to share and suggest all your film recommendations.">
</head>
<body>