<% include partials/header %>


<nav class="header">
	<div class="header__nav">
		<a href="/"><img src="/assets/images/logo7.png"></a>
		<div class="header__contact"><a href="/">Contact</a></div>
	</div>
</nav>

	<div class="homepage">
		<div class="wrapper--full">
			<div class="wrapper">
				<h1 class="homepage__title">Welcome to myLinkReel</h1>


				<h1 class="homepage__intro">myLinkReel is a social networking app designed for people to connect in order to recommend, share, and organize film recommendations. <br> Our goal is to personalize the "watch to watch" dilemma instead of scrolling through computer generated suggestions.</h1>

				<h1 class="homepage__contact">We are currently developing our prototype and actively searching for pationate individuals to join the team. If you have experience with web development, startups, or are interested in learning more about myLinkReel, please contact Thomas at the email below.</h1>

				<h1 class="homepage__email"><span>myLinkReel@gmail.com</span></h1>	
			</div>

			
		</div>
	</div>



<% include partials/footer %>