<% include partials/header %>


<nav class="header">
	<div class="header__nav">
		<a href="/"><img src="/assets/images/logo7.png"></a>
		<div class="header__contact"><a href="/contact">Contact</a></div>
	</div>
</nav>

	<div class="homepage">
		<div class="wrapper--full">
			<div class="wrapper">
				<h1 class="homepage__title">Welcome to myLinkReel</h1>


				<h1 class="homepage__intro">myLinkReel is a social networking app designed for people to connect in order to recommend, share, and organize film suggestions. </h1>

				<h1 class="homepage__email"><span><a class="homepage__email-link" href="/contact">More Info</a></span></h1>	
			</div>

			
		</div>
	</div>



<% include partials/footer %>