<% include partials/header %>


<div>
	<div class="homepage">
		<!-- <h1>qeqwe</h1> -->
		<h1 class="homepage__title">Welcome to myLinkReel</h1>

		<h1 class="homepage__middle">myLinkReel is a social networking app designed for people to connect with their friends in order to recommend and share film suggestions.</h1>

		<h1 class="homepage__contact">We are currently in the early stages of prototype development and are searching for pationate individuals to join the team. If you have any experience with web development or are interested in learning more about myLinkReel, please contact Thomas at the email below.</h1>

		<h1 class="homepage__email">myLinkReel@gmail.com</h1>	
	</div>
</div>

<% include partials/footer %>